.login-background {
  width: 100%;
  height: 100vh;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login--form {
  @apply bg-white;
  @apply rounded;
  @apply p-6;
  @apply flex;
  @apply flex-col;
  @apply shadow-md;
}

.login--label {
  @apply uppercase font-bold text-xs;
}

.login--input {
  @apply bg-gray-300 p-2 rounded-lg w-64 mb-5;
}

.login--button {
  @apply w-full py-2 bg-green-200 rounded-lg  text-black font-bold uppercase text-xs shadow-md;
}

.login--button:hover {
  @apply transform cursor-pointer -translate-y-px;
}
